* {
  padding: 0;
  margin: 0;
}
header {
  height: 100vh;
}
.material-icons {
  color: rgb(8, 72, 118);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
img {
  height: 60px;
  width: 150px;
}
.menu {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: rgb(41, 38, 38);
  text-transform: uppercase;
}
.menu > li {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2px;
  white-space: nowrap;
}
.menu > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  white-space: nowrap;
  text-decoration: none;
  color: rgb(41, 38, 38);
}
.menu > li > a > span {
  padding-right: 2px;
}
footer {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
  color: #294e75;
  border-top: 5px solid rgb(61, 60, 60);
}
footer > div:nth-child(2),
footer > div:nth-child(3) {
  width: 20%;
  overflow: hidden;
}
footer > div:last-child {
  width: 30%;
}
footer > div:first-child {
  display: flex;
  align-items: center;
}
footer > div > .titre {
  padding: 0;
}

footer > div > h3 {
  color: #294e75;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 38.4px;
  padding-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
}
footer > div > h3 > span {
  display: flex;
  align-items: center;
  position: relative;
}
footer > div > h3 > span::after {
  position: absolute;
  background-color: rgba(150, 150, 150, 0.404);
  content: "";
  height: 1px;
  width: 70%;
  z-index: 5;
  margin-top: 5px;
}
footer > div > h3 > span > span {
  position: absolute;
  z-index: 20;
  background-color: #294e75;
  height: 3px;
  width: 25%;
  margin-top: 5px;
}

footer > div > ul {
  list-style-type: none;
  font-family: arial, sans-serif;
}
footer > div > ul > li {
  display: flex;
  padding: 10px 20px;
}
footer > div > ul > li > a {
  color: #294e75;
  text-decoration: none;
  display: flex;
  align-items: center;
}
footer > div > ul > li > a:hover {
  color: #294e75;
}
footer > div > ul > li > a > i {
  opacity: 0.7;
  transition: 0.5s all ease 0s;
  color: #294e75;
  font-size: 0.2em;
  font-weight: 400;
  line-height: 32px;
  text-size-adjust: 100%;
  padding-right: 10px;
}
.test {
  padding: 100px;
  background-color: rgb(60, 36, 122);
  height: 100%;
}
.test > h1 {
  padding-bottom: 50px;
  color: rgb(17, 17, 17);
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.test > p {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  padding: 10px 0px;
  color: white;
}
