<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Covoiturage</display-name>
    <servlet>
       <servlet-name>Authentification</servlet-name>
       <servlet-class>servlets.AuthentificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>Authentification</servlet-name>
       <url-pattern>/Authentification</url-pattern>
    </servlet-mapping>

    <servlet>
       <servlet-name>Inscription</servlet-name>
       <servlet-class>servlets.InscriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>Inscription</servlet-name>
       <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>

</web-app>